* {
    box-sizing: border-box;
}

#content{
    width: 600px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    background-color: white;
    border :white 1px solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
select{
    width:150px;
    height: 50px;
}
body{
    background-color: red;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    
}
label{
    padding: 5% 0%;
}
.heading{
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:600px;
    border :white 1px solid;
}
h3{
    margin: 0%;
    padding: 5px;
    color: white;
    text-align: center;
}
#btn1{
    width: 100px;
    height: 30px;
    margin: 20px 70px;
}
@media only screen and (max-width: 768px)
{
    body{
        background-color: white;
    }
    .heading{
        background-color: black;
        padding: 5px;
        border-radius: 0%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    h3{
        color:white;
        padding: 0%;
        margin: 0%;
    }
    .main {
        padding: 0% 5px;
        background-color: white;
    }
    #content {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 100%;
    }
    label {
        padding: 10px 0%;
    }
    input{
        padding: 5px;
    }
    select {
        padding: 15px;
        width: 160px;
    }
    #btn1 {
        margin-top: 10px;
        width: 100px;
        height: 40px;
        background-color: blue;
        color: white;

    }
}